{% extends "frontend/template.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title>Créer mon compte</title>
{% endblock %}

{% block body %}

    <div class="ml-2 mt-2">
        <button type="button" class="btn btn-light" onclick="window.history.back();" >Page Précédente</button>
    </div>
    <div class="wrapper ">
        <form class="form-signin rounded" method="POST" action="/signin" >
            <h2 class="form-signin-heading">Créer mon compte</h2>
            <input type="text" class="form-control mb-2" id="pseudo" name="pseudo" placeholder="Votre pseudo" required="" autofocus="" />
            <input type="email" class="form-control  mb-2" id="mail" name="mail" placeholder="Votre e-mail" required=""/>
            <input type="email" class="form-control  mb-2" id="mail2" name="mail2" placeholder="Confirmer votre e-mail" required=""/>
            <input type="password" class="form-control mb-2" id="mdp" name="mdp" placeholder="Votre mot de passe" required=""/>
            <input type="password" class="form-control  mb-2" id="mdp2" name="mdp2" placeholder="Confirmez votre mot de passe" required=""/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Je m'inscris</button>


        </form>
    </div>
{% endblock %}
