{% extends "frontend/template.html.twig" %}

{% block head %}

    <title>Bienvenue</title>

{% endblock %}

{% block body %}

    <div class="position2"><img class="position" src="../../../public/img/logo.png"></div>
    <section id="slideshow">
        <div class="entire-content">

            <div class="content-carrousel">

                <figure class="shadow"><img src="http://atelier-floral60.fr/wp-content/uploads/2017/09/Petit_bricolage__jardinage.jpg"/></figure>
                <figure class="shadow"><img src="https://media.ooreka.fr/public/image/homme-mains-outils-bricolage-mesure-full-12330037.jpg"/></figure>
                <figure class="shadow"><img src="https://cdn.pixabay.com/photo/2013/12/13/21/13/plumber-228010_960_720.jpg"/></figure>
                <figure class="shadow"><img src="https://cdn.pixabay.com/photo/2016/11/04/10/12/hospice-1797305_960_720.jpg"/></figure>
                <figure class="shadow"><img src="https://cdn.pixabay.com/photo/2015/01/21/15/32/teamwork-606818_960_720.jpg"/></figure>

                <figure class="shadow"><img src="https://cdn.pixabay.com/photo/2016/11/13/16/05/hospice-1821429_960_720.jpg"></figure>
                <figure class="shadow"><img src="https://cdn.pixabay.com/photo/2017/09/29/15/42/cleanliness-2799475_960_720.jpg"/></figure>
                <figure class="shadow"><img src="https://cdn.pixabay.com/photo/2015/12/07/10/50/electrician-1080563_960_720.jpg"/></figure>
                <figure class="shadow"><img src="https://cdn.pixabay.com/photo/2015/12/07/10/59/building-1080594_960_720.jpg"/></figure>


                </div>

            </div>


    </section>



{% endblock %}


    {% block footer %}

    {% endblock %}
