{% extends "frontend/template.html.twig" %}

{% block head %}

    <title>City</title>

{% endblock %}

{% block body %}

    <section class="list-wrap">

        <label for="search-text">Ville souhaitée</label>
        <input type="text" id="search-text" placeholder="ville" class="search-box">
        <span class="list-count"></span>


        <ul class="ul" id="list">
            {% for annonce in annonces %}

                   <li class="in" ><a>{{ annonce.city }}<a class=" btn-position btn btn-info " href="/annonces/{{ annonce.id }}">Consulter l'annonce</a></li>






            {% endfor %}
</ul>

    </section>
{% endblock %}


{% block footer %}

{% endblock %}
