{% extends "frontend/template.html.twig" %}
{% block head %}
    <title>Annonces par ville</title>
{% endblock %}
{% block body %}
    <div class="ml-2 mt-2">
        <button type="button" class="btn btn-light" onclick="window.history.back();">Page Précédente</button>
    </div>
    <section class="list-wrap">
        <input type="text" id="search-text" placeholder="ville souhaitée" class="search-box">
        <ul class="ul" id="list">
            <div class="list-count mb-4 "></div>
            {% for annonce in annonces %}
                <li class="in"><a>{{ annonce.city }}<a class=" btn-position btn btn-info " href="/annonces/{{ annonce.id }}">Consulter l'annonce</a></a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
{% block footer %}
{% endblock %}