{% extends "frontend/template.html.twig" %}

{% block head %}

    <title>City</title>

{% endblock %}

{% block body %}

<div class="global-container">
    <div class="container mt-3 mb-3">

        <div class="container-white mt-5 rounded ">
            <div class=" container">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width:15%" scope="col">Ville</th>
                        <th style="width:15%" scope="col">Nombre d'annonces</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for annonce in annonces %}
                        <tr>

                            <td><a class="text-dark">{{ annonce.city}}</a></td>
                            <td><a class="text-dark ">{{ annonce.number }}</a></td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}
