{% extends "frontend/template.html.twig" %}
{% block head %}
    <title>Toutes les annonces</title>
{% endblock %}
{% block body %}

    <div class="global-container container-white container text-center mt-3 rounded">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width:15%" scope="col">Date de publication</th>
                <th style="width:15%" scope="col">Type</th>
                <th style="width:60%" scope="col">Titre</th>
                <th style="width:60%" scope="col"></th>
            </tr>
            </thead>
            <tbody>

            {% for annonce in annonces %}
                <tr>
                    <td>le {{ annonce.creationdate|date("d/m/Y ") }}</td>
                    <td>{{ annonce.typeof }}</td>
                    <td><a class="text-dark">{{ annonce.title|escape }}</a></td>
                    <td><a class=" btn btn-info " href="/annonces/{{ annonce.id }}">Consulter l'annonce</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
