{% extends "frontend/template.html.twig" %}

{% block head %}

    <title>Bienvenue</title>

{% endblock %}

{% block body %}
    <div style="margin-top: 15%" class="text-center">
    <a style="font-size: xx-large" class="  text-white font-weight-bold">Le premier site d'entraide dédié à la Normandie</a><br>
        <div class="fb-like mt-5" data-href="https://www.facebook.com/Normandhelp-2226984307514802/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    </div>
{% endblock %}


    {% block footer %}

    {% endblock %}
