{% extends "frontend/template.html.twig" %}

{% block head %}

    <title>Bienvenue</title>

{% endblock %}

{% block body %}
    <div class="container container-white rounded mt-5">

    </div>

{% endblock %}


    {% block footer %}

    {% endblock %}
