{% extends "frontend/template.html.twig" %}

{% block head %}

    <title>Bienvenue</title>

{% endblock %}

{% block body %}
    <div class="container-white container pt-3 pb-3 mt-3 mb-3 text-center rounded">
        <a>Je souhaite consulter:</a>
        <div><a class=" btn btn-success " href="index.php?action=listAnnoncesAll">Toutes les annonces</a></div>
    </div>


    <div class="container-white container pt-3 pb-3 mt-3 mb-3 text-center rounded">
        <a>Je souhaite consulter les annonces des personnes qui :</a>
        <div><a class=" btn btn-info " href="index.php?action=listAnnoncesSearch">Recherchent un service</a></div>
    </div>

    </div>
    <div class="container-white container pt-3 pb-3 mt-3 mb-3 text-center rounded">
        <a>Je souhaite consulter les annonces des personnes qui :</a>
        <div><a class=" btn btn-warning " href="index.php?action=listAnnoncesGive">Fournissent un service</a></div>
    </div>

    </div>

{% endblock %}


    {% block footer %}

    {% endblock %}
