{% extends "frontend/template.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title>Connexion à l'espace d'administration</title>
{% endblock %}

{% block body %}
    <div class="wrapper ">
        <form class="form-signin rounded" method="POST" action="/usermaster">
            <h2 class="form-signin-heading">Connexion à l'espace d'administration</h2>
            <input type="email" class="form-control mb-2" name="mailconnect" placeholder="Mail" required="" autofocus="" />
            <input type="password" class="form-control mb-2" name="mdpconnect" placeholder="Mot de passe" required=""/>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="formconnect">Se connecter</button>
        </form>
        {% if hasFormError %}
            <div class="text-danger">Identifiants incorrects</div>
        {% endif %}
    </div>
{% endblock %}
