<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.php">Echange de services de la ville de Potigny</a>
    <div class="pb-2">

        <a class=" btn btn-success " href="index.php?action=displayNewAnnonce">Ajouter une annonce</a>


    </div>


</nav>
