<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <img class="marque" src="../../../public/img/logo.png">
    <a class="navbar-brand text-white ml-2" href="/">Normand'help</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a class="navbar-nav ml-auto">
            <a class="nav-item active">
                <a class="text-white mr-4" href="/annonces">Annonces</a>
            </a>
            <a class="nav-item">
                <a class="text-white mr-4" href="/annonces?type=city">Par ville</a>
            </a>
            <a class="nav-item">
                <a class="text-white mr-4 " href="/annonces?type=give">Propositions</a>
            </a>
            <a class="nav-item">
                <a class="text-white mr-4" href="/annonces?type=search">Recherches</a>
            </a>
            <a class="text-white mr-5">|</a>
            <a class="nav-item">
                <a class="text-white mr-4" href="/signup">S'inscrire</a>
            </a>
            <a class="nav-item">
                <a class="text-white mr-4" href="/login">Se connecter</a>
            </a>
            <a class="nav-item">
                <a class="text-white " href="/contact">Contact</a>
            </a>
        </a>
    </div>

</nav>


