<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Normand'help</a>

        <div class="container">Le premier site d'entraide entre particuliers dédié à la Normandie</div>


    <div class="social">
        <div class="fb-like" data-href="https://www.facebook.com/Normandhelp-2226984307514802/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

    </div>
    </nav>



