<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/public/dist/styles.css" rel="stylesheet"/>

    {% block head %}{% endblock %}
</head>


{% include "frontend/nav.html.twig" %}

{% block body %}{% endblock %}

<script src="/public/dist/build.js"></script>
<body class="background">



<script>
    (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
  </script>

<footer>
    <div class="bas">
        <div class="container-fluid  text-center mt-2">

            {% block footer %}{% endblock %}





            <div class="text-white">
                © 2018 Copyright:
                <a> Anne Gasté </a>
              <div>
                    <a class="text-white mr-4" href="/loginmaster">Connexion admin</a>
              </div>
            </div>
        </div>
    </div>
</footer>

</body>
</div>
</html>
