<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/public/dist/styles.css" rel="stylesheet"/>

    {% block head %}{% endblock %}
</head>


{% include "frontend/nav.html.twig" %}

{% block body %}{% endblock %}
<div class="container">
    <button type="button" class="btn btn-outline-primary">Primary</button>
</div>
<script src="/public/dist/build.js"></script>
<body>

<script>

    $(document).ready(function () {

        var jobCount = $('#list .in').length;
        $('.list-count').text(jobCount + ' annonces sont disponibles');


        $("#search-text").keyup(function () {


            var searchTerm = $("#search-text").val();
            var listItem = $('#list').children('li');


            var searchSplit = searchTerm.replace(/ /g, "'):containsi('")


            $.extend($.expr[':'], {
                'containsi': function (elem, i, match, array) {
                    return (elem.textContent || elem.innerText || '').toLowerCase()
                        .indexOf((match[3] || "").toLowerCase()) >= 0;
                }
            });


            $("#list li").not(":containsi('" + searchSplit + "')").each(function (e) {
                $(this).addClass('hiding out').removeClass('in');
                setTimeout(function () {
                    $('.out').addClass('hidden');
                }, 300);
            });

            $("#list li:containsi('" + searchSplit + "')").each(function (e) {
                $(this).removeClass('hidden out').addClass('in');
                setTimeout(function () {
                    $('.in').removeClass('hiding');
                }, 1);
            });


            var jobCount = $('#list .in').length;
            $('.list-count').text(jobCount + ' annonce(s) trouvée(s)');

            //shows empty state text when no jobs found
            if (jobCount == '0') {
                $('#list').addClass('empty');
            }
            else {
                $('#list').removeClass('empty');
            }

        });


    });

</script>

<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<footer>
    <div class="bas">
        <div class="container-fluid  text-center mt-2">

            {% block footer %}{% endblock %}


            <a href="/login" class="text-white ">Je me connecte</a> /
            <a href="/signup" class="text-white">M'inscrire</a>


            <div class="text-white">
                © 2018 Copyright:
                <a> Anne Gasté </a>
            </div>
        </div>

    </div>
</footer>

</body>

</html>
