<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="public/css/responsive-table.css" rel="stylesheet"/>
    <link href="public/css/style.css" rel="stylesheet"/>
    <link href="public/js/app.js" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">

    {% block head %}{% endblock %}
</head>




{% include "frontend/nav.html.twig" %}

{% block body %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
       ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script>

    $(document).ready(function() {

        var jobCount = $('#list .in').length;
        $('.list-count').text(jobCount + ' annonces sont disponibles');


        $("#search-text").keyup(function () {
            //$(this).addClass('hidden');

            var searchTerm = $("#search-text").val();
            var listItem = $('#list').children('li');


            var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

            //extends :contains to be case insensitive
            $.extend($.expr[':'], {
                'containsi': function(elem, i, match, array)
                {
                    return (elem.textContent || elem.innerText || '').toLowerCase()
                        .indexOf((match[3] || "").toLowerCase()) >= 0;
                }
            });


            $("#list li").not(":containsi('" + searchSplit + "')").each(function(e)   {
                $(this).addClass('hiding out').removeClass('in');
                setTimeout(function() {
                    $('.out').addClass('hidden');
                }, 300);
            });

            $("#list li:containsi('" + searchSplit + "')").each(function(e) {
                $(this).removeClass('hidden out').addClass('in');
                setTimeout(function() {
                    $('.in').removeClass('hiding');
                }, 1);
            });


            var jobCount = $('#list .in').length;
            $('.list-count').text(jobCount + ' items');

            //shows empty state text when no jobs found
            if(jobCount == '0') {
                $('#list').addClass('empty');
            }
            else {
                $('#list').removeClass('empty');
            }

        });



        /*
        An extra! This function implements
        jQuery autocomplete in the searchbox.
        Uncomment to use :)


    function searchList() {
       //array of list items
       var listArray = [];

        $("#list li").each(function() {
       var listText = $(this).text().trim();
         listArray.push(listText);
       });

       $('#search-text').autocomplete({
           source: listArray
       });


     }

     searchList();
    */


    });
</script>

<footer>
    <div class="bas" >
        <div class="container-fluid  text-center mt-2">
            {% block footer %}{% endblock %}


            <a href="/login" class="text-white ">Je me connecte</a> /
            <a href="/signup" class="text-white">M'inscrire</a>


            <div class="text-white">
                © 2018 Copyright:
                <a> Anne Gasté </a>
            </div>
        </div>

    </div>
</footer>

</body>

</html>
