{% extends "backend/template2.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title> mes annonces </title>

{% endblock %}

{% block body %}
<div class="container-white container text-center mt-3"><h2>Mes annonces</h2>

</div>

{% endblock %}