{% extends "backend/template2.html.twig" %}
{% block head %}
    <meta charset="utf-8"/>
    <title>Espace personnel</title>
{% endblock %}
{% block body %}
    <div class="global-container container-white container text-center mt-3 rounded">
        <div class="container-white container pt-3 pb-3 mt-3 mb-3 text-center rounded">
            <a class=" btn btn-success " href="/myannonces">Mes annonces</a>
        </div>
        <div class="container-white container pt-3 pb-3 mt-3 mb-3 text-center rounded">
            <a class=" btn btn-success " href="/newannonce">Ajouter une annonce</a>
        </div>
    </div>
{% endblock %}



