{% extends "frontend/template.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title>Bienvenue dans votre espace personnel</title>
{% endblock %}

{% block body %}



    <div class="container mt-3 mb-3 text-center">

    </div>

{% endblock %}



