html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
}

.bas {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}


.container-white {
    background-color:white;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}
.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;

}

.dropdown-menu{
    min-width: 19rem !important;
}

.wallpaper1 {
    background-image: url("../img/baby.jpg");
    background-attachment: fixed;
    background-size: cover;
}


.wallpaper2 {
    background-image: url("../img/brico.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.wallpaper3 {
    background-image: url("../img/jardinier.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.carousel .carousel-item {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;

}

.carousel .carousel-item:first-of-type {
    background-image: url("../img/baby.jpg");
}

.carousel .carousel-item:nth-of-type(2) {
    background-image: url("../img/brico.jpg");
}

.carousel .carousel-item:last-of-type {
    background-image: url("../img/jardinier.jpg");
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}



/* this declares a better box model */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



.list-wrap label {
    float:left;
    color:#00BDE8;
}
.search-box {
    float:left;
    clear:left;
    width:70%;
    padding:0.4em;
    font-size:1em;
    color:#555;
}

.list-count {
    float:left;
    text-align:center;
    width:30%;
    padding:0.5em;
    color:#ddd;
}




.empty-item {
    transition-property: opacity;
    transition-duration: 0s;
    transition-delay: 0s;
    transition-timing-function: ease;
}

.empty .empty-item {
    transition-property: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
    transition-timing-function: ease;
}

.hiding {
    margin-left:-100%;
    opacity:0.5;
}

.hidden {
    display:none;
}



.ul {
    float:left;
    width:100%;
    margin:2em 0;
    padding:0;
    position:relative;
}



li {
    transition-property: margin, background-color, border-color;
    transition-duration: .4s, .2s, .2s;
    transition-timing-function: ease-in-out, ease, ease;
    float:left;
    clear:left;
    width:100%;
    margin:0.2em 0;
    padding:0.5em 0.8em;
    list-style:none;
    background-color:#f2f2f2;
    border-left:5px solid #003842;
    cursor:pointer;
    color:#333;
    position:relative;
    z-index:2;
}

.in:hover {
    background-color:#f9f9f9;
    border-color:#00BDE8;
}




.list-wrap {
    float:left;
    width:40%;
    margin:2em 30%;
    padding:2em 0;
}









