@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
}

.logo {

    width: 150px;
    height: 150px;
    margin-top: -170px;

}

.position {
    width: 212px;
    margin-bottom: -224px;
}

.position2 {
    text-align: center;

}

.bas {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}

.social {
    margin-right: -246px;
}
.bg-light {
    background: rgba(0,0,0,0.5) !important;

}
.marque{
    width: 50px;
}
.btn-position {
    float: right;
}
.global-container {
    margin-bottom: 100px;}
.container-white {
    background-color: white;

}
.classic3 {


}

.container {
    text-align: center;

}
.container-test{
    width: 191px;
    height: 207px;
    margin-top: -22%;

}
.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;

}

.dropdown-menu {
    min-width: 19rem !important;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.list-wrap label {
    float: left;
    color: #00BDE8;
}

.search-box {

    width: 70%;
    padding: 0.4em;
    font-size: 1em;
    color: #555;
}

.list-count {


  float: left;
    text-align: center;
    width: 70%;
    padding: 0.5em;
    color: #ddd;
    background-color: forestgreen;
}
.wallpaper{
    background-image: url("../img/orig2.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.wallpaper3{
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.empty-item {
    transition-property: opacity;
    transition-duration: 0s;
    transition-delay: 0s;
    transition-timing-function: ease;
}

.empty .empty-item {
    transition-property: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
    transition-timing-function: ease;
}

.hiding {
    margin-left: -100%;
    opacity: 0.5;
}

.hidden {
    display: none;
}

.ul {
    float: left;
    width: 100%;
    margin: 2em 0;
    padding: 0;
    position: relative;
}


li {
    transition-property: margin, background-color, border-color;
    transition-duration: .4s, .2s, .2s;
    transition-timing-function: ease-in-out, ease, ease;
    float: left;
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    padding: 0.5em 0.8em;
    list-style: none;
    background-color: #f2f2f2;
    border-left: 5px solid #003842;
    cursor: pointer;
    color: #333;
    position: relative;
    z-index: 2;
}
.background {
    background-image: url("../img/orig.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.btnmod{
    border-radius: 0px 25px 25px 0px;
    height: 50px;
    width: 40px;
    color: darkgrey;
    background: gray;
    background: linear-gradient( white, ghostwhite);
    box-shadow: 1px 1px 10px black inset,
    0 1px 0 rgba( 255, 255, 255, 0.4);

}

.btnmod a{
    visibility: hidden;
}
.btnmod:hover a{
    visibility: visible;
}
.btnmod:hover{
    -webkit-transition-property: width, background;
    -webkit-transition-duration: 50ms;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;

}
.btnmod:hover{
    width: 100%;



}
.in{
    width: 100%;
}







.in:hover {

    background-color: #f9f9f9;
    border-color: #00BDE8;
}

.list-wrap {
    float: left;
    width: 40%;
    margin: 2em 30%;
    padding: 2em 0;
}

* {
    margin: 0;
    padding: 0;
}



