html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
}

.bas {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}

.wallpaper {
    background-image: url("../img/mains.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.container-white {
    background-color:white;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}
.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;

}

